<div class="fixed">
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">Anton Galuschenko </a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li class="active"><a href="main">Meme collector</a></li>
      <li class="divider"></li>
      <li><a href="graph">Graph builder</a></li>
      <li class="divider"></li>
      <li><a href="parser">HTML Parser</a></li>
      <li class="divider"></li>
      <li><a href="sos">Science Of Social</a></li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">API's</a>
        <ul class="dropdown">
          <li><a href="#">VK API</a></li>
          <li class="divider"></li>
          <li><a href="#">Wikipedia API</a></li>
          <li class="divider"></li>
          <li><a href="#">Twitter API</a></li>
          <li class="divider"></li>
          <li><a href="#">Facebook API</a></li>
          <li class="divider"></li>
        </ul>
      </li>
      
    </ul>
</nav>
</div>