<%= render 'graph/menu' %>
<div class="row">
  <div class="twelve columns">
<button class="button success" onclick="drawgraph();">Построить граф</button>
<table>
  <thead>
    <tr>
      <th width="200">Индикатор</th>
      <th>Значение</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Количество собранных <span data-tooltip class="has-tip" title="Tooltips are awesome, you should totally use them!">интеракций</span></td>
      <td>46 226</td>
    </tr>
    <tr>
      <td>В выборке участвовал</td>
      <td> 631 пользователь</td>
    </tr>
    <tr>
      <td>Во взаимодействующие пары попало</td>
      <td>411 пользователей</td>
    </tr>
    <tr>
      <td>Количество возможных пар взаимодействия</td>
      <td>140 715</td>
    </tr>
    <tr>
      <td>Количество взаимодействующих пар</td>
      <td>1 683</td>
    </tr>
  </tbody>
</table>

<h4>Топ 10 пользователей по показателю IN:</h4>
<table>
  <thead>
    <tr>
      <th width="200">Индикатор</th>
      <th>Значение</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Количество собранных интеракций</td>
      <td>46 226</td>
    </tr>
    <tr>
      <td>В выборке участвовал</td>
      <td> 631 пользователь</td>
    </tr>
    <tr>
      <td>Во взаимодействующие пары попало</td>
      <td>411 пользователей</td>
    </tr>
    <tr>
      <td>Количество возможных пар взаимодействия</td>
      <td>140 715</td>
    </tr>
    <tr>
      <td>Количество взаимодействующих пар</td>
      <td>1 683</td>
    </tr>
  </tbody>
</table>

<h4>Топ 10 активных пар:</h4>
<table>
  <thead>
    <tr>
      <th>Пользователь 1</th>
      <th>Пользователь 2</th>
      <th width="100">Кол-во интеракций</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Максим Шишканов</td>
      <td>Миша Савченко</td>
      <td>2450</td>
    </tr>
    <tr>
      <td>Yana Gorpinchenko</td>
      <td>Лиза Котова</td>
      <td>1787</td>
    </tr>
    <tr>
      <td>Nataly Zhilina</td>
      <td>Юлия Хмелевская</td>
      <td>1392</td>
    </tr>
    <tr>
      <td>Анастасия Янцевич</td>
      <td>Людмила Косяченко</td>
      <td>801</td>
    </tr>
    <tr>
      <td>Анна Буряк</td>
      <td>Milana Lazareva</td>
      <td>686</td>
    </tr>
    <tr>
      <td>Илья Харлин</td>
      <td>Павел Чвилёв</td>
      <td>665</td>
    </tr>
    <tr>
      <td>Маша Петушенкова</td>
      <td>Katie Katie</td>
      <td>630</td>
    </tr>
    <tr>
      <td>Ilya Ilya</td>
      <td>Станислав Саур</td>
      <td>603</td>
    </tr>
    <tr>
      <td>Олеся Наливайко</td>
      <td>Луиза Капрельянц</td>
      <td>591</td>
    </tr>
    <tr>
      <td>Даша Стрельцова</td>
      <td>Олеся Наливайко</td>
      <td>590</td>
    </tr>
  </tbody>
</table>
<a class="button success" href="graph2">Построить граф</a>
<p>
  <p>
    <p>
</div>
</div>





