<%= render 'parser/menu' %>

  <div class="row">
      <div class="twelve columns">
        <h2>HTML Parser</h2>
        <p>Данное представление делает parsing следующей <a href="http://www.hopesandfears.com/hopesandfears/experience/case/123267-hirosi-mikitani-marketpleys-3-0">страницы</a> сайта Hopes&Fears и отображает содержимое контейнера "article-text" </p>
        <hr />
      </div>
    </div>

  <div class="row">
    <div class="eight columns">
      <div class="panel">
          <%=  raw @ant %>
       </div>
    </div>
  </div>




